body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #343a40;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #495057;
  border-radius: 5px;
}
.container {
  max-width: 900px; 
  margin: 20px auto; 
  padding: 20px; 
}

#pic {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  margin-bottom: 20px;
}

#picCenter {
  margin-left: 20px;
}

.round-image {
  width: 250px;
  height: 250px; 
  border-radius: 50%;
  border: 5px solid black;
  object-fit: cover;
}

#skills {
  padding: 20px;
  background-color:  #f4f4f4;
};

#projects {
  padding: 20px;
  background-color: white;
  margin: 20px 0; 
  border-radius: 5px;
}

.projects {
  margin: 10px;
  text-align: center;
  flex: 1 1 200px;
}

.flexing{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact {
  padding: 20px;
  background-color: white;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact__info h3 {
  margin: 5px 0;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}